variable "slack_access_token" {
    type    = "string"
    default = "access_token"
}
variable "salesforce_client_secret" {
    type    = "string"
    default = "client_secret"
}
variable "salesforce_client_key" {
    type    = "string"
    default = "client_key"
}
variable "aws_access_key" {
    type    = "string"
    default = "access_key"
}
variable "aws_secret_key" {
    type    = "string"
    default = "secret_key"
}
variable "aws_region" {
    type    = "string"
    default = "eu-central-1"
}
